<div class="sidebar">
  <ul>
    <%# jarp: should you task_lists_path and tasks_path instead of typing in the literal link %>
    <li><%= link_to 'Task List', task_lists_path %></li>
    <li><%= link_to 'Tasks', tasks_path %></li>
  </ul>
</div>
